Source: doublecontact
Section: misc
Priority: optional
Maintainer: Mikhail Y. Zvyozdochkin <pub@zvyozdochkin.ru>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/DarkHobbit/doublecontact
#Vcs-Git: https://github.com/DarkHobbit/doublecontact.git
#Vcs-Browser: https://github.com/DarkHobbit/doublecontact
Package: doublecontact
Version: 0.1.2
Architecture: amd64
Depends: libc6 (>= 2.4), libqtcore4 (>= 4.6), libqtgui4 (>= 4.6)
Description: offline DE-independent contact manager
