[Desktop Entry]
Version=0.2.0
Type=Application
Name=DoubleContact
Name[ru]=DoubleContact
GenericName=Contact manager
GenericName[ru]=Редактор контактов
GenericName[uk]=Редактор контактів
Comment=Contact manager primarily for phonebooks editing/merging
Comment[ru]=Редактор контактов, преимущественно ориентированный на редактирование, сравнение и слияние телефонных книг
Comment[uk]=Редактор контактів, переважно орієнтований на редагування, порівняння та об'єднання телефонних книг
Exec=doublecontact %U
TryExec=doublecontact
Icon=doublecontact_32x32
Terminal=false
Categories=PIM
